<h1>Список услуг</h1>
<%= button_to 'Записаться', zap_path, method: :get, class: 'form-control', id: 'ord' %>
<% @services.each do |service| %>
<div class='line'></div>
    <h3><%= service.title %></h3>
    <p><h5>Описание:</h5> <%= service.description %></p>
    <p><h5>Цена:</h5> <%= number_to_currency(service.price, unit: "Руб.", format: "%n %u") %></p>
<%end%>