<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Спасибо за регистрацию в автосервисе Cars feeling, <%= @user.first_name %></h1>
    <p>
      Вы сделали правильный выбор, надеемся, что вскоре вы станете нашим постоянным клиентом
    </p>
    <p>
      Вернуться на сайт  <%=link_to 'Главная страница', @url %>
    </p>
    <p>Всего самого наилучшего, хорошего дня!</p>
  </body>
</html>

