<footer>
        <div class="footer">
            <div class="wrapper_main">
                <div class="footer_container">
                    <div class="footer_card">
                            <h3>
                                <span>C</span>ars feeling
                            </h3>
                            <hr>
                            <h3><span class="span_footer">Контакты</span></h3>
                            <div class="car_time">
                                <h5><span>Служба контроля качества</span></h5>
                                <span><h6>+7 916 384-91-19</span>
                                <p><span><h6>yagmurov.igor@mail.ru</span></p>
                                <h5><span class="span_footer">Мы в социальных сетях:</span></h5>
                                <a href="https://vk.com/yai08"><%=image_tag("vk.jpg", width: "40", height: "30") %></a>
                                <a href="https://sueta.fun/users/6/"><%=image_tag("sueta.ico", width: "40", height: "30") %></a>
                                <a href="https://github.com/CodeIgor31"><%=image_tag("github.png", width: "40", height: "30") %></a>
                            </div>
                    </div>
                    <div class="footer_card">
                        <h3>With all love</h3>
                        <hr>
                        <h3><span class="span_footer">Коротко о нас</span></h3>
                        <ul>
                        <li><h6>Лучшие на рынке</li>
                        <li><h6>Быстрый сервис</li>
                        <li><h6>Качественная работа</li>
                        <li><h6>Выполним любой ваш заказ</li>
                        <li><h6>Вы всегда правы</li>
                        </ul>
                    </div>
                    <div class="footer_card card_end">
                        <h3>You're the best</h3>
                        <hr>
                        <h3><span class="span_footer">Наша локация в Москве</span></h3>
                        <ul>
                        <li><h6><a href="">carsfeeling96@gmail.com</a></li>
                        <li><h6>Восточный административный округ</li>
                        <li><h6>улица 9-го Мая, 26</li>
                        <li><h6>Почтовый индекс: 105173</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>