<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Мы получили вашу заявку о консультации, <%= @user.first_name %></h1>
    <p>
      Вы сделали правильный выбор, надеемся, что вскоре у вас не останется никаких вопросов
    </p>
      <h5>Ожидайте, наш менеджер скоро с вами свяжется</h5>
    <h3>Всего самого наилучшего, хорошего дня!</h3>
      </body>
</html>
