<h1>Автосервис Cars feeling</h1>
<h3>Миссия компании</h3>
Преобразование автосервисного рынка России до уровня лучших мировых стандартов, являясь на этом рынке лидером и новатором технологий

<p><%= image_tag("about.jpg")%></p>
<h3>Лучшие, потому что:</h3>
<ul>
<li>Современные</li>
Используем современные технологии и ставим интересы клиента на первое место.
<li>Оперативные</li>
Выполняем все поставленные задачи оперативно и в заявленные сроки.
<li>Надёжные</li>
Мы гарантируем, что автомобиль после обслуживания будет работать надёжно. Мы хотим, чтобы вы и ваши близкие чувствовали себя в безопасности.
<li>Открытые</li>
Вы всегда можете узнать, кто и что делает с вашим автомобилем — каждая станция оборудована камерами.
</ul>
