
<h1>Контакты</h1>
<ul>
<li>От станции м. Щелковская авт. №716, 716k, 1716 до конечной остановки "Посёлок Восточный"</li>
<li>Другие автобусы до остановки «Щитниково, д.146»</li>
<li>От станции м. Кунцевская авт. №305, 305k, 1716 до конечной остановки "Посёлок Кунцево"</li>
<br />
<br />
<li>Время работы: с 8.00 до 21.30 (Обслуживание автомобилей)</li>
<li>Время работы: с 9.00 до 21.00 (Продажа запасных частей)</li>
<br />
<li>Телефон: +7(916)384-91-19</li>
<li>Телефон: +7(927)709-14-12</li>
<li>E-mail: yagmurov.igor@mail.ru</li>
</ul>
<h3>Карта</h3>
<div id="yandex_map" class="map">
</div>