
<h1>Контакты</h1>
<ul>
Проезд: платформа Сколково (Мещерская) - по направлению Киевской РЖД.
<li>От станции м. Говорово авт. №32, 862 до конечной остановки "Платформа Сколково (Мещерская)",
другие автобусы 1-на остановка до остановки «Мещерский лес»</li>
<li>От станции м. Юго-Западная авт. №66 до конечной остановки "Платформа Сколково (Мещерская)",
авт. №752,950 до остановки «Мещерский лес» (бывш. ДСК №3)</li>
<li>От станции м. Теплый стан авт. №767 до остановки «Мещерский лес» (бывш. ДСК №3)</li>
<li>От станции м. Озерная авт. №330,374,459,572,752,793,830,883,902,н11 до остановки «Мещерский лес» (бывш. ДСК №3)</li>
<br />
<br />
<li>Время работы: с 8.00 до 21.30 (Обслуживание автомобилей)</li>
<li>Время работы: с 9.00 до 21.00 (Продажа запасных частей)</li>
<br />
<li>Телефон: +7(916)384-91-19</li>
<li>E-mail: yagmurov.igor@mail.ru</li>
</ul>
<h3>Карта</h3>
<div id="yandex_map" class="map">
</div>