<h1>Контакты</h1>
<ul>
Проезд: платформа Сколково (Мещерская) - по направлению Киевской РЖД.
<li>От станции м. Говорово авт. №32, 862 до конечной остановки "Платформа Сколково (Мещерская)",
другие автобусы 1-на остановка до остановки «Мещерский лес»</li>
<li>От станции м. Юго-Западная авт. №66 до конечной остановки "Платформа Сколково (Мещерская)",
авт. №752,950 до остановки «Мещерский лес» (бывш. ДСК №3)</li>
<li>От станции м. Теплый стан авт. №767 до остановки «Мещерский лес» (бывш. ДСК №3)</li>
<li>От станции м. Озерная авт. №330,374,459,572,752,793,830,883,902,н11 до остановки «Мещерский лес» (бывш. ДСК №3)</li>
<br />
<br />
<li>Время работы: с 8.00 до 21.30 (Обслуживание автомобилей)</li>
<li>Время работы: с 9.00 до 21.00 (Продажа запасных частей)</li>
<br />
<li>Телефон: +7(916)384-91-19</li>
<li>E-mail: yagmurov.igor@mail.ru</li>
</ul>
<h3>Карта</h3>
<div id="yandex_map" class="map">
<script>
let center = [55.81863845116168,37.87356624320199];

function init() {
	let map = new ymaps.Map('yandex_map', {
		center: center,
		zoom: 17
	});

    let placemark = new ymaps.Placemark(center, {
        		balloonContent: `
			<div class="balloon">
				<div><h3>Автосервис Cars feeling</h3></div>
				<div class="balloon__contacts">
					<h5><a href="tel:+79163849119">+79163849119</a></h5>
				</div>
			</div>
            `
    }, {
		iconLayout: 'default#image',
		iconImageHref: 'https://cdn-icons-png.flaticon.com/512/3177/3177361.png',
		iconImageSize: [40, 40],
		iconImageOffset: [-19, -44]
	});

    map.controls.remove('geolocationControl'); // удаляем геолокацию
    map.controls.remove('searchControl'); // удаляем поиск
    map.controls.remove('trafficControl'); // удаляем контроль трафика
    map.controls.remove('typeSelector'); // удаляем тип
    map.controls.remove('fullscreenControl'); // удаляем кнопку перехода в полноэкранный режим
    map.controls.remove('rulerControl'); // удаляем контрол правил

    map.geoObjects.add(placemark);
    }
    ymaps.ready(init);
    
</script>
</div>