<h1>Галерея</h1>

        <p>Автосервис</p>
        <p><img src="/service_four.jpg" alt="Тест"></p>
        <p><img src="/service_two.jpg" alt="Тест"></p>

        <p>Машины клиентов</p>
        <p><img src="/service_one.jpg" alt="Тест"></p>
        <p><img src="/service_three.jpg" alt="Тест"></p>

