<h1>Галерея</h1>

        <p>Автосервис</p>
        <p><%= image_tag("service_four.jpg", height: '700', width: '1200')%></p>
        <p><%= image_tag("service_two.jpg", height: '700', width: '1200')%></p>

        <p>Машины клиентов</p>
        <p><%= image_tag("service_one.jpg", height: '700', width: '1200')%></p>
        <p><%= image_tag("service_three.jpg", height: '700', width: '1200')%></p>

