<h1>Галерея</h1>

        <p>Автосервис</p>
        <p><img src="/service_four.jpg" alt="" height='700' width = '1200'></p>
        <p><img src="/service_two.jpg" alt="" height='700' width = '1200'></p>

        <p>Машины клиентов</p>
        <p><img src="/service_one.jpg" alt="" height='700' width = '1200'></p>
        <p><img src="/service_three.jpg" alt="" height='700' width = '1200'></p>

