<h3>Наши гарантии</h3>
<ul>
<li><h5>Почему мы уверены в своем качестве и даем 2 года гарантии на все услуги?</h5></li>
<li><h5>Почему цены ниже рынка?</h5></li>
<li><h5>А моя машина не станет еще хуже после вашего ремнота?</h5></li>
<li><h5>Такие молодые, как возможно практически без опыта сделать качественный ремонт?</h5></li>
<li><h5>Есть сомнения? Просто посмотрите видео от нашего руководителя</h5></li>
</ul>
<%= video_tag("video.mp4", :size => "1250x500", :controls => true) %>