.header{
    background-color: rgb(61, 11, 15);
}
.footer {
    background-color: rgb(61, 11, 15);
    padding-top: 1.9em;
    flex-shrink: 0;
    }
    
    .footer_container h3 {
    margin-right: 10px;
    margin-left: 10px;
    color: #d2d2d7;
    }
    
    .footer_card li {
    margin-left: 0.9em;
    color: #d2d2d7;
    }
.wrapper {
    max-width: 70%;
    margin: 0 auto;
    background-color: white;
}
.card_end li {
    list-style-type: none;
    }
    
    .card_end a {
    color: rgb(168, 32, 42);
    }
    
    .span_footer {
        margin-left: 10px;
        color: #d2d2d7;
    }
    .car_time span {
        color: #d2d2d7;
    }
    
    .car_time {
        margin-left: 10px;
        font-size: 0.9em;
    }
    
    .footer_card li {
        margin-bottom: 0.4em;
        font-size: 0.9em;
    }
        
.footer_container {
    display: flex;
    justify-content: space-between;
}

.map {
    height: 700px;
    margin-bottom: 0.8em;
}

[class*="balloon__close-button"] {
	opacity: 1;
}
body { background-image: url("body7.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.line {
    padding-top: 10px;
    border-bottom: 1px solid rgb(0, 0, 0); /* Параметры линии */
   }
.top {
    padding-bottom: 10px;
}

.btn{
      background-color: rgb(5, 5, 5);
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    } 
.white {
    color: white;
}
main {
    flex-grow: 1;
}
